footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 20px 40px;
}

footer h3 {
  color: white;
  margin: 5px 0px;
}

footer p {
  color: grey;
}

footer a {
  color: red;
  text-decoration: none;
}

.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-right li {
  margin: 3px 0px;
  font-family: sans-serif;
}

.footer-left {
  width: 400px;
}
