{% extends 'core/base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div>
    <h3 class="flex justify-center items-center text-gray-500">Query Filters</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<div>
    <h3 class="flex justify-center items-center text-gray-500">Table Placeholder</h3>
    <div>race_result.as_table</div>
</div>
<div>
    <h3 class="flex justify-center items-center text-gray-500">Graph Visual</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}